defaults: &defaults
  authentication:
    username: ''
    password: ''
  daily_work_hours: 8

development:
  <<: *defaults

test:
  <<: *defaults
  authentication:
    username: 'admin'
    password: 'secret'
