!!!
%html{:lang => 'pt-BR'}
  %head
    %meta{:charset => 'UTF-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/

    %title Time Clock
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =favicon_link_tag
    %link(href='assets/apple-touch-icon/144x144.png' rel='apple-touch-icon-precomposed' sizes='144x144')
    %link(href='assets/apple-touch-icon/114x114.png' rel='apple-touch-icon-precomposed' sizes='114x114')
    %link(href='assets/apple-touch-icon/72x72.png' rel='apple-touch-icon-precomposed' sizes='72x72')
    %link(href='assets/apple-touch-icon/57x57.png' rel='apple-touch-icon-precomposed')

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to 'Time Clock', root_path, class: 'brand'
    .container
      .content
        =bootstrap_flash
        =yield
      %footer
        %p="Copyright &copy; #{Date.today.year} Time Clock. This is an #{link_to 'open source', 'https://github.com/lucascaton/time_clock', target: '_blank'} project.".html_safe

    =javascript_include_tag 'application'
