!!!
%html{:lang => 'pt-BR'}
  %head
    %meta{:charset => 'UTF-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/

    %title Time Clock
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =favicon_link_tag
    %link(rel='apple-touch-icon-precomposed' href='assets/apple-touch-icon/touch-icon-iphone.png')
    %link(rel='apple-touch-icon-precomposed' href='assets/apple-touch-icon/touch-icon-ipad.png'          sizes='72x72')
    %link(rel='apple-touch-icon-precomposed' href='assets/apple-touch-icon/touch-icon-iphone-retina.png' sizes='114x114')
    %link(rel='apple-touch-icon-precomposed' href='assets/apple-touch-icon/touch-icon-ipad-retina.png'   sizes='144x144')

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to 'Time Clock', root_path, class: 'brand'
    .container
      .content
        =bootstrap_flash
        =yield
      %footer
        %p="Copyright &copy; #{Date.today.year} Time Clock. This is an #{link_to 'open source', 'https://github.com/lucascaton/time_clock', target: '_blank'} project.".html_safe

    =javascript_include_tag 'application'
